body {
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    background-color: #4e0041;
    background-image: url(cards/image\ \(1\).jpg);
    background-size: cover;
    color: #EEF5FF;
    text-shadow: #15004e 2px 2px 2px;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin-right: 10px;
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#again {
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin-left: 10px;
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.botones {
    display: flex;
    justify-content: center;
}